---
title: oh hai
---

<section>
	<article>
		<h1>oh hai there</h1>

		<p>you may know me from the www
		<ul>
			<li><a href="https://github.com/supershabam" target="_blank">github</a>
			<li><a href="https://npmjs.org/~supershabam" target="_blank">npm</a>
			<li><a href="https://twitter.com/supershabam" target="_blank">twitter</a>
		</ul>
	</article>
	<aside>
		<img src="/images/mchammer.gif">
	</aside>
</section>
